* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.nav_bar {
  padding: 0;
}

.nav_bar li a:active {
  color: #5e3bee;
}
.nav_header {
  border-bottom: 1px solid rgba(110, 110, 110, 0.5) !important;
  padding: 0 64px;
  height: auto;
  min-height: 90px;
}
.contact_btn {
  border-color: #5e3bee;
  background-color: #5e3bee;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.button_mobile {
  display: none;
}

.contact_btn:hover {
  color: #5e3bee;
  border-color: #5e3bee;
  background-color: white;
}

.navbar-toggler {
  border: none;
  color: black;
  padding: 0;
}
.contact_btn_hero {
  font-size: 16px;
  border-color: #5e3bee;
  background-color: #5e3bee;
  color: white;
  margin: 32px 0 0 !important;
  padding: 14px 32px !important;
}

.contact_btn_hero:hover {
  color: #5e3bee;
  border-color: #5e3bee;
  background-color: white;
}
.hero {
  padding: 100px 64px;
  width: 100%;
  background-color: #ecfffd;
}

.section {
  padding: 100px 64px;
}

.section h1 {
  font-size: 48px;
  margin-bottom: 80px;
}

.img_cont {
  padding: 12px;
  width: fit-content;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}

.card_cont {
  background-color: #ecfffd;
  padding: 24px;
  border: none;
  transition: color 0.5s;
}

.card_cont:hover {
  border-bottom: 3px solid #5e3bee;
}

.card-body {
  padding: 0;
}

.card-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.card-text {
  font-size: 18px;
}

.card_text {
  background-color: white;
  opacity: 0.9;
}

.bg {
  background-color: #ecfffd;
}

.card_test {
  background-color: transparent;
  border: 1px solid #006b6a;
  padding: 32px;
}
.test_cont {
  background-color: transparent;
  padding: 0;
}
.testimonials_author-wrapper {
  display: flex;
  gap: 15px;
  margin-top: 32px;
  align-items: center;
}

.form_cont {
  padding: 112px 64px;
}

.form_margin {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.form-control,
.form-select {
  padding: 8px 12px !important;
  border-color: #5e3bee;
}

#inputMessage {
  height: auto;
  min-height: 11.25rem;
  overflow: auto;
}

.form-check-input {
  border-color: #5e3bee;
}

.form-check-input:checked {
  background-color: #5e3bee;
  border-color: #5e3bee !important;
  box-shadow: none !important;
}

footer {
  padding: 80px 64px;
  background-color: #ecfffd;
}

.footer_header {
  padding-bottom: 64px;
}

.footer_bottom p,
.footer_bottom li {
  margin: 0;
  font-size: 14px;
}

footer li,
.nav-link {
  transition: color 0.35s;
}

footer li:hover {
  color: #5e3bee;
}

.footer_social-list svg {
  color: #212529;
  transition: color 0.35s;
}

.footer_social-list svg:hover {
  color: #5e3bee;
}
@media screen and (max-width: 991px) {
  .nav_header {
    padding: 10px 40px !important;
    justify-content: space-between !important;
  }
  .button_mobile {
    position: relative;
    left: 200px;

    display: block;
  }

  .button_laptop {
    display: none;
  }

  .hero_container {
    flex-direction: column-reverse !important;
  }
  .hero_container div {
    width: 100%;
  }
  .hero_container div img {
    width: 100% !important;
  }

  .hero {
    padding: 80px 40px !important;
  }

  .section {
    padding: 96px 40px;
  }
  .section h1 {
    margin-bottom: 60px;
  }
  .section_cont {
    width: calc(100% / 2) !important;
    padding-top: 24px;
  }

  .aboutme {
    justify-content: center !important;
  }

  footer {
    padding: 72px 40px !important;
  }
  .footer_header {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 48px;
    padding-bottom: 56px !important;
  }
}

@media screen and (max-width: 767px) {
  .nav_header {
    padding: 10px 20px 0 !important;
    justify-content: space-between !important;
  }
  .contact_btn {
    padding: 4px 16px !important;
  }
  .button_mobile {
    position: relative;
    left: 190px;

    display: block;
  }

  .section_cont {
    width: 100% !important;
    padding-top: 24px;
  }

  footer {
    padding: 48px 20px !important;
  }
  .footer_header {
    padding-bottom: 32px !important;
  }

  .footer_link_cont {
    flex-direction: column;
    gap: 24px !important;
  }

  .footer_bottom {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .nav_header {
    padding: 10px 20px 0 !important;
    justify-content: space-between !important;
  }
  .contact_btn {
    padding: 4px 16px !important;
  }
  .button_mobile {
    position: relative;
    left: 50px;

    display: block;
  }

  .hero {
    padding: 56px 20px !important;
  }

  .section_cont {
    width: 100% !important;
    padding-top: 24px;
  }

  .form_cont {
    padding: 64px 20px !important;
  }

  .form_text p {
    text-align: center;
  }

  .col-6 {
    width: 100% !important;
  }
}
